@charset "utf-8";

*{
    margin: 0;
    padding: 0;
}
#wrap {
    width: 550px;
    background-color: #d0d0d0;
    position: absolute; /* 중앙정렬 */
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
#box {
    width: 85%;
    height: 800px;
    background-color: #ccc;
    margin: 0 auto;
}
#header {
    width: 100%;
    height: 80px;
    background-color: #d9d9d9;
    text-align: center; /* 텍스트 가로 중앙 정렬 */
    line-height: 80px; /* 텍스 세로 중앙 정렬  */
    font-size: 40px;
    font-weight: bold;
}
#article {
    width: 100%;
    height: 100px;
    background-color: #c1c1c1;
    position: relative;
}
input::placeholder {
    opacity: 0.3;
}
#article #text_box {
    width: 80%;
    height: 50px;
    position: absolute; /* 박스 중앙정렬 */
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    border-radius: 14px;
    border: 3mm ridge gray;
}
#contents {
    width: 100%;
    height: 520px;
    background-color: #afafaf;
    display: block; /* 체크리스트 새로정렬 */
    position: relative;
}
#modal-container {
    width: 100%;
    height: 620px; /* #contents 에서 #footer 처리해줄것 */
    background-color: rgba(0, 0, 0, 0.17);
    position: absolute;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    display: none; /* 오버레이와 모달창 잠시 가려둠 */
}
#modal-content {
    width: 70%;
    height: 100px;
    background-color: yellowgreen;
    position: relative;
    display: flex;
    flex-direction: column; /* 자식 요소 세로 배치(텍스트 박스랑 버튼 박스 위아래로 나누려고 줌) */
    justify-content: space-between; /* 양 끝으로 밀어서 공간 균등 나눔(column이니까 텍스트박스는 위로, 버튼박스는 아래로 밀려서 붙는것) */
}
#modal-text {
    width: 70%;
    height: 20px;
    margin: auto; 
}
#modalBtn-box {
    display: flex;
    justify-content: flex-end; /* 자식 요소들을 오른쪽 끝으로 밀어줌 */
    margin-right: 13px; /* 버튼박스 오른쪽 여백 */
}
#modal-content button {
    width: 15%;
    margin: 0 1px 10px 10px; /* 버튼 상하좌우 여백 */
}
.addList {
    display: flex;
    width: 100%;
    height: 20px;
    background-color: #eee;
}
.checkBox {

}
.addText {
}
#footer {
    width: 100%;
    height: 100px;
    background-color: #c1c1c1;
    display: flex; /* 버튼 중앙정렬 */
    justify-content: center;
    align-items: center;
}
#footer .btn { 
    width: 15%;
    height: 60%;
    background-color: rgb(165, 165, 165);
    border-radius: 15px;
    font-size: 40px;
    font-weight: bold;
}